<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gurpinder Gill Resume</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- icon -->
  <link rel="icon" href="/images/Resume.png">
  
  <!-- CSS -->
  <link rel="stylesheet" href="/style/style.css"> 
</head>

<body>

<%- include('partials/navbar') %>

<div class="resume-container">

<header>
  <h1>Gurpinder Gill Resume</h1>
  <img src="/images/GurpinderGill.jpeg" alt="Gurpinder Gill" width="120">
  <br>
  <a href="https://www.linkedin.com/in/gurpinder-gill-103ab5325" target="_blank">
    linkedin.com/in/gurpinder-gill-103ab5325
  </a>
</header>

<fieldset>
  <legend>SUMMARY</legend>
  <p>
    I am a motivated developer based in Seattle with hands on experience in both front-end and back-end technologies.
    I am skilled in building responsive, data driven web applications. Proven ability to collaborate effectively in team based
    software development projects. I am currently seeking a full-time opportunity in web development.
  </p>
</fieldset>

<fieldset>
  <legend>EDUCATION</legend>
  <ol>
    <li>
      Bachelor of Applied Science in Software Development 
      Green River College, Auburn, WA <br>
      2025 - 2027
    </li>
    <li>
      Associate of Applied Science in Data Analysis and Software Development 
      Green River College, Auburn, WA <br>
      2023 - 2025
    </li>
  </ol>
</fieldset>

<fieldset>
  <legend>TECHNICAL SKILLS</legend>
  <ol>
    <li>Languages: Java, Python, PHP, JavaScript</li>
    <li>Web: HTML, CSS</li>
    <li>Tools & Platforms: VS Code, MySQL, cPanel, IntelliJ</li>
    <li>Collaboration: Git, Basecamp, Agile/Scrum</li>
  </ol>
</fieldset>

<fieldset>
  <legend>PROJECTS</legend>
  <ol>
    <li>
      StatMando Client Web Development Project
      <ul>
        <li>Collaborated with a team to design and implement a dynamic, data-driven web application.</li>
        <li>Utilized PHP for backend development and HTML/CSS for front-end presentation.</li>
        <li>Managed development using VS Code and connected to MySQL database.</li>
        <li>Focused on user-friendly data visualization and modular code structure.</li>
      </ul>
    </li>
  </ol>
</fieldset>

</div>

</body>
</html>