 * {
  box-sizing: border-box;
}

main {
  background-color: white;
  max-width: 900px;
  margin: 20px auto;
  padding: 10px; 
}

.contact-row1 {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.contact-row2 {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.contact-row3 { 
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}


 h1 {
  text-align: center;
  margin-bottom: 20px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.err {
  display: none;
  font-size: 0.85rem;
  margin-top: 2px;
}